.changeTheme
{
    text-align: right;
    padding-right: 30px;
    font-size: 13px;
}
#changeThemeToggle:hover
{
    cursor: pointer;
}
.themePic
{
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
.themePic:hover
{
    cursor: pointer;
}
